* {
  box-sizing: border-box;
}

body {
  background: #20222a;
  margin: 50px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.heading {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
}

.app {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
}

.form__block {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.field__input {
  margin: 0;
}

.form__field {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__field--checkbox {
  flex: 0 0 auto;
}

.field__error-message {
  color: red;
  width: 225px;
  height: 50px;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 7px;
  flex: 0 0 auto;
}

.form__block--button-submit {
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.form__listSkills {
  font-weight: 400;
  font-size: 14px;
  color: #323336;
}

.form__skills-input-block {
  display: flex;
  justify-content: space-between;
}

.button-add-skill__container {
  margin-left: 10px;
  padding-top: 5px;
}
